* {
    line-height: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }

body {
    background-color: black;
    color: white;
}


.section-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    gap: 100px;
}

.texto-principal {
    width: 600px;
}

.texto-principal h1 {
    font-size: 57px;
    padding: 30px 0 30px 0;
}

.texto-principal span {
    color: #D02A19;
}

.texto-principal p{
    font-size: 35px;
    line-height: 58px;
    margin-bottom: 57px;
}

.texto-principal a {
    font-size: 19px;
    padding: 21px 82px 21px 82px;
    border-radius: 10px;
    color: black;
    background: var(--DOURADO-1, linear-gradient(180deg, #B7854D 3.17%, #F5D98F 18.38%, #FDF6B7 33.59%, #F5D88E 55.9%, #FCF5B7 68.07%, #D4B067 79.22%, #BD9149 89.36%, #B7854D 104.57%));
}


.img-principal {
}

.section-dois {
    display: grid;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-top: 100px;
    padding: 100px 230px;
    background: var(--DOURADO-1, linear-gradient(180deg, #B7854D 3.17%, #F5D98F 18.38%, #FDF6B7 33.59%, #F5D88E 55.9%, #FCF5B7 68.07%, #D4B067 79.22%, #BD9149 89.36%, #B7854D 104.57%));

}

.section-dois h5 {
    font-size: 40px;
    padding-bottom: 22px;
}

.section-dois p {
    width: 1000px;
    line-height: 34px;
}


@media screen and (max-width: 1000px) {

    .section-principal {
        display: grid;
        padding-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }

    
    .texto-principal {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }
    
    .texto-principal h1 {
        font-size: 37px;
        padding: 30px 0 30px 0;
    }
    
    
    .texto-principal p{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 57px;
    }
    
    .texto-principal a {
        font-size: 19px;
        padding: 1em;
    }
    
    
    .img-principal {
        width: 100%;
    }

    .section-dois {
        display: grid;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        color: black;
        margin-top: 0;
        padding: 1em;
        background: var(--DOURADO-1, linear-gradient(180deg, #B7854D 3.17%, #F5D98F 18.38%, #FDF6B7 33.59%, #F5D88E 55.9%, #FCF5B7 68.07%, #D4B067 79.22%, #BD9149 89.36%, #B7854D 104.57%));
    
    }
    
    .section-dois h5 {
        font-size: 35px;
    }
    
    .section-dois p {
        width: 100%;
        line-height: 28px;
    }
    
    
    
}