* {
    line-height: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }

body {
    background-color: black;
    color: white;
}


.section-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    gap: 100px;
}

.texto-principal {
    width: 600px;
}

.texto-principal h1 {
    font-size: 57px;
    padding: 30px 0 30px 0;
}

.texto-principal span {
    color: #D02A19;
}

.texto-principal p{
    font-size: 35px;
    line-height: 58px;
    margin-bottom: 57px;
}

.texto-principal a {
    font-size: 19px;
    padding: 21px 82px 21px 82px;
    border-radius: 10px;
    color: black;
    background: var(--DOURADO-1, linear-gradient(180deg, #B7854D 3.17%, #F5D98F 18.38%, #FDF6B7 33.59%, #F5D88E 55.9%, #FCF5B7 68.07%, #D4B067 79.22%, #BD9149 89.36%, #B7854D 104.57%));
}


.img-principal {
}

.section-dois {
    display: grid;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-top: 100px;
    padding: 100px 230px;
    background: var(--DOURADO-1, linear-gradient(180deg, #B7854D 3.17%, #F5D98F 18.38%, #FDF6B7 33.59%, #F5D88E 55.9%, #FCF5B7 68.07%, #D4B067 79.22%, #BD9149 89.36%, #B7854D 104.57%));

}

.section-dois h5 {
    font-size: 40px;
    padding-bottom: 22px;
}

.section-dois p {
    width: 1000px;
    line-height: 34px;
}

.servicos {
    display: grid;
    justify-content: center;
    padding-top: 100px;
}

.servicos h2 {
    text-align: center;
    padding-bottom: 100px;
    font-size: 40px;
}

.servicos h2 span {
    color: #7F1E10;
}

.bt-servicos {
    display: flex;
    justify-content: center;
}

.servicos a {
    margin-top: 100px;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 21px 72px;
    background: var(--DEGRADE-VERMELHO, linear-gradient(90deg, #7F1E10 -1.18%, #7F1E10 8.75%, #821E10 16.69%, #A21E11 98.11%));
}

.card-servicos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 100px;
}

.cartao-servicos {
    display: flex;
}

.cartao-servicos p {
    width: 350px;
    line-height: 30px;

}

.cartao-servicos img {
    margin-top: -60px;
    padding-right: 18px;
}

section.mundo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 200px;
  }

  section.mundo .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
  }
  section.mundo .imagem img.aviao {
    width: 100%;
    z-index: 2;
    animation: aviaomundo 4s ease-in-out infinite;
  }
  @keyframes aviaomundo {
    0% {
      filter: brightness(100%);
      transform: translate(0, 0);
    }
    50% {
      filter: brightness(110%);
      transform: translate(-50px, 0px);
    }
    100% {
      filter: brightness(100%);
      transform: translate(0, 0);
    }
  }
  section.mundo .imagem img.mapa {
    width: 80vw;
    position: absolute;
    z-index: 1;
    animation: mapamundo 55s linear infinite;
  }
  @keyframes mapamundo {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  .equipe {
    display: flex;
    justify-content: center;
    background: #7F1E10;
    padding: 150px 0 150px 0;
    margin-top: 200px;
  }

  .card-equipe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 1240px;
    max-width: 1240px;
  }

  .texto-equipe {
    width: 450px;
  }

  .texto-equipe h2 {
    font-size: 40px;
    width: 300px;
    padding-bottom: 34px;
  }

  .texto-equipe p {
    line-height: 30px;
  }

  .img-equipe {
    width: 700px;
    display: flex;
    gap: 5px;
  }



@media screen and (max-width: 1000px) {

    .section-principal {
        display: grid;
        padding-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }

    
    .texto-principal {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }
    
    .texto-principal h1 {
        font-size: 37px;
        padding: 30px 0 30px 0;
    }
    
    
    .texto-principal p{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 57px;
    }
    
    .texto-principal a {
        font-size: 19px;
        padding: 1em;
    }
    
    
    .img-principal {
        width: 100%;
    }

    .section-dois {
        display: grid;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        color: black;
        margin-top: 0;
        padding: 1em;
        background: var(--DOURADO-1, linear-gradient(180deg, #B7854D 3.17%, #F5D98F 18.38%, #FDF6B7 33.59%, #F5D88E 55.9%, #FCF5B7 68.07%, #D4B067 79.22%, #BD9149 89.36%, #B7854D 104.57%));
    
    }
    
    .section-dois h5 {
        font-size: 35px;
    }
    
    .section-dois p {
        width: 100%;
        line-height: 28px;
    }

    .servicos {
        padding-top: 100px;
    }
    
    .servicos h2 {
        padding-bottom: 100px;
        font-size: 35px;
    }
    
    
    
    .servicos a {
        margin-top: 100px;
        padding: 1em;
    }
    
    .card-servicos {
        gap: 100px;
        padding: 0px 20px 0px 20px;
    }
    
 
    
    .cartao-servicos p {
        width: 100%;
        line-height: 30px;
    
    }
    
    .cartao-servicos img {
        margin-top: -60px;
        padding-right: 18px;
    }
    

    section.mundo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
      }
      
      
      section.mundo .imagem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
      }
      section.mundo .imagem img.aviao {
        max-width: 300px;
      }
      @keyframes aviaomundo {
        0% {
          filter: brightness(100%);
          transform: translate(0, 0);
        }
        50% {
          filter: brightness(110%);
          transform: translate(-20px, 0);
        }
        100% {
          filter: brightness(100%);
          transform: translate(0, 0);
        }
      }
      section.mundo .imagem img.mapa {
        width: 100vw;
        height: 80vw;
      }

      .equipe {
        padding: 100px 0 100px 0;
        margin-top: 80px;
      }
    
      .card-equipe {
        display: grid;
        gap: 50px;
        width: 100%;
        max-width: 100%;
      }
    
      .texto-equipe {
        width: 100%;
        padding: 0 10px 0 10px;
      }
    
      .texto-equipe h2 {
        width: 100%;
        padding-bottom: 34px;
      }
    
      .texto-equipe p {
        line-height: 28px;
      }
    
      .img-equipe {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;

      }

      
    
    
    
}