* {
    line-height: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  :root {
    --f1: clamp(0.6rem, 1vw, 0.8rem);
    --f2: clamp(0.8rem, 1vw, 1.0rem);
    --f3: clamp(1.0rem, 1vw, 1.2rem);
    --f4: clamp(1.2rem, 1vw, 1.5rem);
    --f5: clamp(1.5rem, 1vw, 2.5rem);
    --f6: clamp(2rem, 1vw, 3.5rem);
    --f7: clamp(4.0rem, 1vw, 5.5rem);
  }

body {
    background-color: black;
    color: white;
}


.section-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    gap: 100px;
}

.texto-principal {
    width: 600px;
}

.texto-principal h1 {
    font-size: 57px;
    padding: 30px 0 30px 0;
}

.texto-principal span {
    color: #D02A19;
}

.texto-principal p{
    font-size: 35px;
    line-height: 58px;
    margin-bottom: 57px;
}

.texto-principal a {
    font-size: 19px;
    padding: 21px 82px 21px 82px;
    border-radius: 10px;
    color: black;
    background: var(--DOURADO-1, linear-gradient(180deg, #B7854D 3.17%, #F5D98F 18.38%, #FDF6B7 33.59%, #F5D88E 55.9%, #FCF5B7 68.07%, #D4B067 79.22%, #BD9149 89.36%, #B7854D 104.57%));
}


.img-principal {
}

.section-dois {
    display: grid;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-top: 100px;
    padding: 100px 230px;
    background: var(--DOURADO-1, linear-gradient(180deg, #B7854D 3.17%, #F5D98F 18.38%, #FDF6B7 33.59%, #F5D88E 55.9%, #FCF5B7 68.07%, #D4B067 79.22%, #BD9149 89.36%, #B7854D 104.57%));

}

.section-dois h5 {
    font-size: 40px;
    padding-bottom: 22px;
}

.section-dois p {
    width: 1000px;
    line-height: 34px;
}

.servicos {
    display: grid;
    justify-content: center;
    padding-top: 100px;
}

.servicos h2 {
    text-align: center;
    padding-bottom: 100px;
    font-size: 40px;
}

.servicos h2 span {
    color: #7F1E10;
}

.bt-servicos {
    display: flex;
    justify-content: center;
}

.servicos a {
    margin-top: 100px;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 21px 72px;
    background: var(--DEGRADE-VERMELHO, linear-gradient(90deg, #7F1E10 -1.18%, #7F1E10 8.75%, #821E10 16.69%, #A21E11 98.11%));
}

.card-servicos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 100px;
}

.cartao-servicos {
    display: flex;
}

.cartao-servicos p {
    width: 350px;
    line-height: 30px;

}

.cartao-servicos img {
    margin-top: -60px;
    padding-right: 18px;
}

section.mundo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 200px;
  }

  section.mundo .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
  }
  section.mundo .imagem img.aviao {
    width: 100%;
    z-index: 2;
    animation: aviaomundo 4s ease-in-out infinite;
  }
  @keyframes aviaomundo {
    0% {
      filter: brightness(100%);
      transform: translate(0, 0);
    }
    50% {
      filter: brightness(110%);
      transform: translate(-50px, 0px);
    }
    100% {
      filter: brightness(100%);
      transform: translate(0, 0);
    }
  }
  section.mundo .imagem img.mapa {
    width: 80vw;
    position: absolute;
    z-index: 1;
    animation: mapamundo 55s linear infinite;
  }
  @keyframes mapamundo {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  .equipe {
    display: flex;
    justify-content: center;
    background: #7F1E10;
    padding: 150px 0 150px 0;
    margin-top: 200px;
  }

  .card-equipe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 1240px;
    max-width: 1240px;
  }

  .texto-equipe {
    width: 450px;
  }

  .texto-equipe h2 {
    font-size: 40px;
    width: 300px;
    padding-bottom: 34px;
  }

  .texto-equipe p {
    line-height: 30px;
  }

  .img-equipe {
    width: 700px;
    display: flex;
    gap: 5px;
  }

  .iphone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  
  .iphone-img {
  }
  
  .box-iphone {
    background-image: url(fundo-iphone.png);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 700px;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  
  .div-time-dois {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  
  .iphone-img  img{
  
  }
  
  .texto-iphone {
    color: white;
    width: 640px;
  }
  
  .titulo-iphone {
    font-size: 40px;
    font-weight: 400;
  }
  
  .legenda-iphone {
    line-height: 30px;
    margin-bottom: 34px;
    margin: 34px 0px 34px 0px;
    width: 530px;
  }
  
  .destaque {
    background: var(--DEGRADE-VERMELHO, linear-gradient(90deg, #7F1E10 -1.18%, #7F1E10 8.75%, #821E10 16.69%, #A21E11 98.11%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  
  .bt-iphone {
    border-radius: 10px;
    padding: 21px 32px;
    color: white;
    background: var(--DEGRADE-VERMELHO, linear-gradient(90deg, #7F1E10 -1.18%, #7F1E10 8.75%, #821E10 16.69%, #A21E11 98.11%));
  }
  
  .box-depoimentos {
    padding-top: 900px;
  }
  
  section.depoimentos {
      display: flex;
      align-items: center;
      justify-content: right;
      width: 100%;
      background-color: rgb(0, 0, 0);
      padding: 80px 0 30px 0;
    }
    section.depoimentos .texto {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 30%;
      padding: 0 60px;
    }
  
    .div-titulo-depoimentos {
      display: flex;
      justify-content: center;
      font-size: 40px;
      margin: 2px;
    }
  
    .titulo-depoimentos {
      color: white;
      text-align: center;
      width: 500px;
    }
  
  
    section.depoimentos .texto p {
      line-height: 1.5;
      margin: 10px 0 0 0;
      width: 100%;
      max-width: 400px;
    }
    section.depoimentos .texto .tag {
      display: flex;
      align-items: center;
      margin: 20px 0 0 0;
    }
    section.depoimentos .texto .tag img {
      width: 100%;
      max-width: 40px;
    }
    section.depoimentos .texto .tag .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 0 0 10px;
    }
  
    h3 {
      margin: 0;
    }
  
    section.depoimentos .slide {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80%;
      position: relative;
      overflow: hidden;
    }
    section.depoimentos .slide .sombra {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      height: 100%;
      background: linear-gradient(0deg, #edf6fc00, #EDF6FC);
      background: -webkit-linear-gradient(0deg, #edf6fc00, #7f1f108f);
      z-index: 2;
    }
    section.depoimentos .slide .sombra.dois {
      display: none;
    }
    section.depoimentos .slide .itens {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      animation: itensDepoimentos 240s linear infinite;
    }
    @keyframes itensDepoimentos {
      0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(-1500px, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    section.depoimentos .slide .itens .item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;
      width: 300px;
      min-width: 300px;
      background-color: white;
      margin: 0 20px 0 0;
      border-radius: 10px;
      color: black;
    }
    section.depoimentos .slide .itens .item .nome {
      display: flex;
      align-items: center;
    }
    section.depoimentos .slide .itens .item .nome .foto {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin: 0 15px 0 0;
    }
  
    section.depoimentos .slide .itens .item .nome .info h4 {
      font-family: var(--semibold);
      font-size: var(--f1);
      color: var(--cor-preto);
      margin: 5px 0 0 0;
    }
    section.depoimentos .slide .itens .item .estrelas {
      display: flex;
      align-items: center;
      margin: 20px 0;    
    }
    section.depoimentos .slide .itens .item .estrelas img {
      width: 100%;
      max-width: 20px;
      margin: 0 10px 0 0;
      filter: brightness(0) saturate(100%) invert(77%) sepia(91%) saturate(3028%) hue-rotate(339deg) brightness(107%) contrast(102%);
    }
    section.depoimentos .slide .itens .item p {
      font-family: var(--light);
      font-size: var(--f3);
      color: var(--cor-preto);
      line-height: 1.5;
    }

    .sobre {
      background-color: white;
    }

    .card-sobre {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      padding: 200px 0 200px 0;

    }

    .texto-sobre {
      width: 584px;
      color: black;
    }

    .texto-sobre h2 {
      width: 400px;
      padding-bottom: 32px;
      font-size: 40px;
    }

    .texto-sobre p {
      line-height: 30px;
      padding-bottom: 50px;
    }

    summary {
      cursor: pointer;
      color: transparent;
  }
  
  summary p {
      color: white;
  }
  
  
  details {
      background-color: #7F1E10;
      border-radius: 5px;
      width: 650px;
  }
  
  details li {
      color: #b7b7b7;
  }
  
  details ul {
      background-color: #7F1E10;
      list-style: none;
      padding-left: 10px;
      padding-bottom: 10px;
  }
  
  
  .card-duvidas {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      margin-top: 0px;
      border-radius: 10px;
  }
  
  .duvidas {
      display: grid;
      gap: 10px;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 200px;
      background-image: url(fundo-iphone.png);
      background-repeat: no-repeat;
      background-position: -300px 250px; 
  }

  .box-perguntas {
    background-image: url(fundo-iphone.png);
    background-repeat: no-repeat;
    background-position: 1500px -400px; 
  }

  .titulo-perguntas {
    text-align: center;
    padding-top: 200px;
    font-size: 40px;
  }

  .titulo-perguntas span {
    background: var(--DEGRADE-VERMELHO, linear-gradient(90deg, #7F1E10 -1.18%, #7F1E10 8.75%, #821E10 16.69%, #A21E11 98.11%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }



@media screen and (max-width: 1000px) {

    .section-principal {
        display: grid;
        padding-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }

    
    .texto-principal {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }
    
    .texto-principal h1 {
        font-size: 37px;
        padding: 30px 0 30px 0;
    }
    
    
    .texto-principal p{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 57px;
    }
    
    .texto-principal a {
        font-size: 19px;
        padding: 1em;
    }
    
    
    .img-principal {
        width: 100%;
    }

    .section-dois {
        display: grid;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        color: black;
        margin-top: 0;
        padding: 1em;
        background: var(--DOURADO-1, linear-gradient(180deg, #B7854D 3.17%, #F5D98F 18.38%, #FDF6B7 33.59%, #F5D88E 55.9%, #FCF5B7 68.07%, #D4B067 79.22%, #BD9149 89.36%, #B7854D 104.57%));
    
    }
    
    .section-dois h5 {
        font-size: 35px;
    }
    
    .section-dois p {
        width: 100%;
        line-height: 28px;
    }

    .servicos {
        padding-top: 100px;
    }
    
    .servicos h2 {
        padding-bottom: 100px;
        font-size: 35px;
    }
    
    
    
    .servicos a {
        margin-top: 100px;
        padding: 1em;
    }
    
    .card-servicos {
        gap: 100px;
        padding: 0px 20px 0px 20px;
    }
    
 
    
    .cartao-servicos p {
        width: 100%;
        line-height: 30px;
    
    }
    
    .cartao-servicos img {
        margin-top: -60px;
        padding-right: 18px;
    }
    

    section.mundo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
      }
      
      
      section.mundo .imagem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
      }
      section.mundo .imagem img.aviao {
        max-width: 300px;
      }
      @keyframes aviaomundo {
        0% {
          filter: brightness(100%);
          transform: translate(0, 0);
        }
        50% {
          filter: brightness(110%);
          transform: translate(-20px, 0);
        }
        100% {
          filter: brightness(100%);
          transform: translate(0, 0);
        }
      }
      section.mundo .imagem img.mapa {
        width: 100vw;
        height: 80vw;
      }

      .equipe {
        padding: 100px 0 100px 0;
        margin-top: 80px;
      }
    
      .card-equipe {
        display: grid;
        gap: 50px;
        width: 100%;
        max-width: 100%;
      }
    
      .texto-equipe {
        width: 100%;
        padding: 0 10px 0 10px;
      }
    
      .texto-equipe h2 {
        width: 100%;
        padding-bottom: 34px;
      }
    
      .texto-equipe p {
        line-height: 28px;
      }
    
      .img-equipe {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;

      }

      section.depoimentos {
        flex-direction: column-reverse;
        padding: 60px 0;
        justify-content: center;
      }
      section.depoimentos .texto {
        width: 100%;
        padding: 0 30px 30px 30px;
      }
      section.depoimentos .texto h2 {
        font-size: var(--f5);
      }
      section.depoimentos .texto p {
        font-size: var(--f2);
      }
      section.depoimentos .slide {
        width: 100%;
      }
      section.depoimentos .slide .sombra {
        display: none;
        width: 100px;
        background: linear-gradient(0deg, #edf6fc00, #7f1f1000);
        background: -webkit-linear-gradient(0deg, #7f1f1000, #7f1f108f);
      }
      section.depoimentos .slide .sombra.dois {
        display: none;
        right: auto;
        left: 0;
        background: linear-gradient(0deg, #7f1f1000, #edf6fc00);
        background: -webkit-linear-gradient(0deg, #7f1f108f, #edf6fc00);
      }
      section.depoimentos .slide .itens .item {
        padding: 25px 25px 80px 25px;
        width: 280px;
        min-width: 280px;
        margin: 0 15px 0 0;
      }
      section.depoimentos .slide .itens .item .nome {
        display: flex;
        align-items: center;
      }
      section.depoimentos .slide .itens .item .nome .foto {
        width: 40px;
        height: 40px;
      }
      section.depoimentos .slide .itens .item .nome .info h3 {
        font-size: var(--f2);
      }
      section.depoimentos .slide .itens .item .estrelas {
        margin: 15px 0;
      }
      section.depoimentos .slide .itens .item .estrelas img {
        max-width: 15px;
        margin: 0 5px 0 0;
      }
      section.depoimentos .slide .itens .item p {
        font-size: var(--f2);
      }
  
      .box-depoimentos {
        padding-top: 0px;
      }
  
      .time-dois {
        display: grid;
        justify-content: center;
        text-align: center;
      }
  
  
      .iphone {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 0;
      }
  
      .iphone-img {
        display: grid;
        justify-content: center;
        justify-content: center;
        height: auto;
      }
  
      .box-iphone {
        background-image: none;
        background-position: -40px -30px;
        background-repeat: no-repeat;
        background-size: 500px;
        position: relative;
        display: flex;
        justify-content: center;
      }
      
  
      .div-time-dois {
        display: grid;
        justify-content: center;
        align-self: center;
      }
  
      .iphone-img  img{
        width: 100%;
      }
  
      .texto-iphone {
        color: white;
        width: 100%;
        padding: 50px 10px 100px 10px;
      }
  
      .titulo-iphone {
        font-size: 40px;
        font-weight: 400;
      }
  
      .legenda-iphone {
        line-height: 30px;
        margin-bottom: 34px;
        margin: 34px 0px 34px 0px;
        width: 100%;
      }
  
      .destaque {
        background: var(--DEGRADE-VERMELHO, linear-gradient(90deg, #7F1E10 -1.18%, #7F1E10 8.75%, #821E10 16.69%, #A21E11 98.11%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
      }
  
      .bt-iphone {
        border-radius: 10px;
        padding: 21px 32px;
        color: white;
        background: var(--DEGRADE-VERMELHO, linear-gradient(90deg, #7F1E10 -1.18%, #7F1E10 8.75%, #821E10 16.69%, #A21E11 98.11%));
      }

      .sobre {
        padding: 0 10px 0 10px;
      }
      
  
      .card-sobre {
        display: grid;
        gap: 50px;
        padding: 100px 0 100px 0;
      }

      .card-sobre img {
        width: 100%;
        height: auto;
      }
  
      .texto-sobre {
        width: 100%;
        color: black;
      }
  
      .texto-sobre h2 {
        width: 100%;
        padding-bottom: 32px;
        font-size: 32px;
      }
  
      .texto-sobre p {
        line-height: 30px;
        padding-bottom: 50px;
        padding: 0 5px 0 5px;
      }

      details {
        width: 100%;
    } 
    
    .duvidas {
      width: 100%;
      padding: 0 10px 0 10px;
    }

    .card-duvidas {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      margin-top: 0px;
      border-radius: 10px;
  }

  .titulo-perguntas {
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
    padding-bottom: 30px;
    padding: 100px 10px 80px 10px;
  }
  

      
    
    
    
}

